<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Logs
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showToast('', true)">
          <ion-icon name="information-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showModal()">
          <ion-icon name="calendar"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showPopover($event)">
          <ion-icon name="arrow-dropdown-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--Take into account to put or not the pagination list above&ndash;&gt;-->
  <ion-item-group>
    <ion-item-divider sticky>
      <ion-row align-items-center >
        <ion-col col-1 (click)="sortBy('State Code')">State<br>Code</ion-col>
        <ion-col col-1 (click)="sortBy('Pro Code')">Pro<br>Code</ion-col>
        <ion-col col-2 (click)="sortBy('Profession')">Profession</ion-col>
        <ion-col col-1 (click)="sortBy('License ID')">License<br>ID</ion-col>
        <ion-col col-3 (click)="sortBy('Cycle End Date')">Cycle End Date</ion-col>
        <ion-col col-2 (click)="sortBy('Compliance Status')">Compliance<br>Status</ion-col>
        <ion-col col-1 (click)="sortBy('Client ID')">Client<br>ID</ion-col>
        <ion-col col-3 (click)="sortBy('Start Log Date')">Start Log Date</ion-col>
        <ion-col col-3 (click)="sortBy('End Log Date')">End Log Date</ion-col>
        <ion-col col-2 (click)="sortBy('Environment')">Environment</ion-col>
        <ion-col col-1 (click)="sortBy('Machine')">Machine</ion-col>
      </ion-row>
    </ion-item-divider>
    <ion-label *ngIf="logsList.length == 0" padding text-wrap text-center>Logs not found according to search criteria</ion-label>
    <ion-item *ngFor="let log of pagedItems">
        <ion-row align-items-center>
          <ion-col col-1><div>{{log.cd_cebroker_state}}</div></ion-col>
          <ion-col col-1><div>{{log.pro_cde}}</div></ion-col>
          <ion-col col-2><div>{{log.cd_profession}}</div></ion-col>
          <ion-col col-1 text-wrap style="font-size: small;"><div>{{log.id_license}}</div></ion-col>
          <ion-col col-3><div>{{log.dt_end}}</div></ion-col>
          <ion-col col-2><div>{{log.ds_compl_status_returned}}</div></ion-col>
          <ion-col col-1><div>{{log.id_client_nbr}}</div></ion-col>
          <ion-col col-3 style="font-size: small;"><div>{{log.dt_Start_Log}}</div></ion-col>
          <ion-col col-3 style="font-size: small;"><div>{{log.dt_end_log}}</div></ion-col>
          <ion-col col-2><div>{{log.cd_environment}}</div></ion-col>
          <ion-col col-1><div>{{log.cd_machine}}</div></ion-col>
        </ion-row>
      </ion-item>
  </ion-item-group>
  <div text-center>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</ion-content>
